@import "tailwindcss";

:root {
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-dm-mono: 'DM Mono', monospace;
}

body {
  font-family: var(--font-dm-sans);
}

.font-mono {
  font-family: var(--font-dm-mono) !important;
}
